{% load static%}

<html>
    <head>
    <title>Welcome To Employee Management System Portal</title>
        <link rel="stylesheet" href="css/2_login.css"/>
        <style>
        body {
            background-image: url(images/light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg);
        }
    </style>
    </head>
    <body>
        <div align="center">
            <marquee>WELCOME TO EMPLOYEE MANAGEMENT SYSTEM PORTAL |   Log In using your credentials on this page |
            </marquee>
     

            <header>
                <nav>
                    <ul>
                        <li><a href="1_home.html">Home</a></li>
                        <li><a href="2_login.html">Log In</a></li>
                        <li><a href="9_contacts.html">Contact Us</a></li>

                        <!-- <li><a href="{% static '1_home.html' %}">Home</a></li>
                        <li><a href="{% static '2_login.html' %}">Log In</a></li>
                        <li><a href="{% static '5_facilities.html' %}">Employee Facilities</a></li>
                        <li><a href="{% static '9_contacts.html' %}">Contact Us</a></li> -->
                    </ul>
        
                </nav>
                <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Welcome To The Login Page</h1>
            <h2>Type your <i><u>Employee</u></i> user name and passwords to proceed</h2>
          
            <form name="member_login" method="post">
                <p>
                    <strong>Employee User Name</strong><br>
                        <input type="text" name="full_name" />
                </p>
                <p>
                    <strong>Password</strong><br>
                        <input type="password" name="password" />
                </p>
                <br>
                <p>
                        <input type="submit" name="submit" value="EmployeeLogin" />
                </p>
                
            <br>
            
            <!-- <footer>
        <p>
            Our website will securely give you access to our Employee Management Portal. Your database will remain confidential at all times. Thank you for using our service. 
         </p>
   
        
         <a href="1_home.html">Home &nbsp&nbsp&nbsp</a>
         <a href="2_login.html">Log In&nbsp&nbsp&nbsp&nbsp</a>
         <a href="5_facilities.html">&nbsp&nbsp Facilities</a>
         <a href="6_owner.html">&nbsp&nbsp&nbsp Database</a>
         <a href="8_memberlist.html">&nbsp&nbsp&nbsp Members List</a>
         <a href="9_contacts.html">&nbsp&nbsp&nbsp Contact Us</a>
        <br>    
        <br>
        <br>
    </footer> -->
            </header>
        </div>
    </body>
</html>